.main {
    display: grid;
    /* grid-template-rows: 38% 77%; */
    border: 1px solid lightgray;
    margin-inline: 11px;
    margin-top: 11px;
    justify-items: start;
  }
  .avatar {
    width: 100%;
    /* margin-bottom: 19px; */
  }
  
  .scroll {
    height: 93vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .comment {
    margin-left: 10%;
    margin-right: 4%;
    overflow-wrap: anywhere;
    font-size: 0.9rem;
    color: rgb(49, 49, 49);
    padding: 12px;
  word-break: break-word;

  }
  .sendComment {
    display: grid;
    grid-template-columns: 95% 2%;
  }
  