.btn_grad {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    width: 150px;
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.btn_grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.submituserbutton{
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    border-radius: 10px;
}
.submituserbutton:hover{
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.employeePageLoding {
    margin-left: 35%;
    margin-top: 10%;
    margin-bottom: 15%;
    display: inline-block;
    animation-name: fade-in;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: 5;
}

/* * {
    margin: 0;
    padding: 0;
} */

.empcard {
    width: 100%;    
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 34px;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
}

.deleteIcon:hover {
    animation: deleteIcon-animation .1s ease-in-out infinite;
}

@keyframes deleteIcon-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.addusercloseIcon {
    color: rgb(0, 0, 0)
}


.addusercloseIcon:hover {
    animation: closeIcon 0.7s infinite;
}

@keyframes closeIcon {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.modal {
    background-color: rgb(255, 255, 255);
    width: 30vw;
    position: absolute;
    top: 20%;
    left: 35%;
    height: fit-content;
    
    
}

.modal h3 {
    font-size: 1.3rem;
    line-height: 1.1;
    letter-spacing: -0.004em;
    font-weight: 500;
    padding: 2vw;
    justify-content: center;

}

.modalContent {
    text-align: center;
}

.modalContent input {
    border-radius: 15px;
    width: 20vw;
    padding: .4vw;
    margin-top: 1vw;
    color: black;
}

.subBtn {
    margin-top: 3vw;
    width: 18vw;
    border-radius: 15px;
    padding: .4vw;
    background-color: #060660;
    color: white;
}

@media only screen and (max-width: 599px) {
  
    .modal {
        width: 100%;
        top: 1%;
        left: 0;
    }

    .modalContent {
        display: grid;
        justify-content: center;

    }
}
.searchCard {
    width: 100%;    
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
}
.Search{
    color: white;
    background-color: #77A1D3;
}
